[package]
name = "actor"
version = "0.2.0"
authors = ["Jake McGinty <me@jake.su>"]
edition = "2018"

[dependencies]
crossbeam = "0.7"
failure = "0.1"
log = "0.4"
parking_lot = "0.11"

[dev-dependencies]
simple_logger = "1.11"
ctrlc = "3.1"
