[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
	rejectEmptyCommit = true
[project]
	description = A minimalist actor framework aiming for high performance and simplicity.
[access "refs/*"]
	owner = group tonarino
	owner = group user/Matěj Laitl (strohel)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group tonarino
	label-Code-Review = -2..+2 group user/Matěj Laitl (strohel)
	push = group tonarino
	push = group user/Matěj Laitl (strohel)
	read = group tonarino
	read = group user/Matěj Laitl (strohel)
	rebase = group tonarino
	rebase = group user/Matěj Laitl (strohel)
	removeReviewer = group tonarino
	removeReviewer = group user/Matěj Laitl (strohel)
	submit = group tonarino
	submit = group user/Matěj Laitl (strohel)
	label-Verified = block -1..+1 group Anonymous Users
	label-Verified = block -1..+1 group tonarino
	exclusiveGroupPermissions = label-Verified
[access "refs/heads/*"]
	create = group tonarino
	create = group user/Matěj Laitl (strohel)
	push = +force group tonarino
	push = +force group user/Matěj Laitl (strohel)
	pushMerge = group tonarino
	pushMerge = group user/Matěj Laitl (strohel)
	read = group tonarino
	read = group user/Matěj Laitl (strohel)
[access "refs/tags/*"]
	push = group user/Matěj Laitl (strohel)
	push = +force group user/Matěj Laitl (strohel)
[receive]
	requireChangeId = true
	rejectImplicitMerges = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
