[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A minimalist actor framework aiming for high performance and simplicity.
[access "refs/*"]
	owner = group user/Matěj Laitl (strohel)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Matěj Laitl (strohel)
	label-Verified = -1..+1 group user/Matěj Laitl (strohel)
	push = group user/Matěj Laitl (strohel)
	read = group user/Matěj Laitl (strohel)
	rebase = group user/Matěj Laitl (strohel)
	removeReviewer = group user/Matěj Laitl (strohel)
	submit = group user/Matěj Laitl (strohel)
[access "refs/heads/*"]
	create = group user/Matěj Laitl (strohel)
	push = +force group user/Matěj Laitl (strohel)
	pushMerge = group user/Matěj Laitl (strohel)
	read = group user/Matěj Laitl (strohel)
[access "refs/tags/*"]
	push = group user/Matěj Laitl (strohel)
	push = +force group user/Matěj Laitl (strohel)
